h1 {
    font-size: 2.5rem;
    text-align: center;
    top: 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    top: 0;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
}

h5 {
    font-size: 0.9rem;
    text-align: center;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
}

p{
    font-size: 0.9rem;
    text-align: center;
    line-height: 95%;
}

[data-testid='stSidebarNav'] > ul {
    min-height: 60vh;
}

iframe[title='stpyvista.stpyvista']{
    border-radius: 10px;
}

section.main div[data-testid="block-container"]{
    padding-top: 1rem;
}

header[data-testid="stHeader"]{
    visibility: hidden;
}

[data-testid="stCaptionContainer"]{
    opacity: 0.5;
    font-size: 0.7rem;
    line-height: 95%;
    transition: all .2s ease-in-out;
}

[data-testid="stCaptionContainer"]:hover{
    opacity: 1;
    transform: scale(1.2); 
}

/* .stSpinner{
    margin-top: 20%;
}
 
.stSpinner div{
    margin: 0 auto;
} 

.stSpinner i{
    height: 3rem;
    width: 3rem;
    border-width: 0.8rem;
    margin-left: auto;
    margin-right: 0;
}

.stSpinner p{
    font-size: 3rem;
    line-height: 95%;
} */