h1 {
    font-size: 2.5rem;
    text-align: center;
    top: 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    top: 0;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 95%;
}

[data-testid='stSidebarNav']>ul {
    min-height: 60vh;
}

iframe[title='stpyvista.stpyvista'] {
    border-radius: 10px;
}

section.stMain div[data-testid="stMainBlockContainer"] {
    padding-top: 1rem;
}

header[data-testid="stHeader"] {
    visibility: hidden;
    display: none;
}

[data-testid="stCaptionContainer"] {
    opacity: 0.5;
    font-size: 0.7rem;
    line-height: 95%;
    transition: all .2s ease-in-out;
}

[data-testid="stCaptionContainer"]:hover {
    opacity: 1;
    transform: scale(1.2);
}

@keyframes emphasis {
    from {
        opacity: 0.4;
        margin-right: 15%;
    }

    to {
        opacity: 1;
        margin-right: 0%;
    }
}

.embed_message {
    animation-name: emphasis;
    animation-duration: 2s;
}

div[data-testid="stAppViewBlockContainer"] {
    padding-top: 2rem;
}