h1 {
    font-size: 2.5rem;
    text-align: center;
    top: 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    top: 0;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
}

h5 {
    font-size: 0.9rem;
    text-align: center;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
}

p{
    font-size: 0.9rem;
    text-align: center;
}

[data-testid='stSidebarNav'] > ul {
    min-height: 60vh;
}

iframe[title='stpyvista.stpyvista']{
    border-radius: 10px;
}

section.main div[data-testid="block-container"]{
    padding-top: 1rem;
}

header[data-testid="stHeader"]{
    visibility: hidden;
}